# Ignore Python virtual environments
venv/

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore database files
db.sqlite3

# Ignore media and static cache
media/
staticfiles/

# VS Code settings
.vscode/
